.App {
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: white;
  background-color: #242424;
  border: 1px solid #404040;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0 0 6px #000;
  -moz-box-shadow: 0 0 6px #000;
  -webkit-box-shadow: 0 0 6px #000;
  background-color: #242424;
  padding: 10px;
  min-height: 498px !important;
}
